application/configs/local_settings.ini
tmp
tmp/
tmp/*
tmp/*/*
library/Zend
library/Zend/
library/Zend/*
library/Zend/*/*
data/tmp
data/tmp/
data/tmp/*
data/tmp/*/*
data/logs
data/logs/
data/logs/*
data/logs/*/*
public/userdata/tmp
public/userdata/tmp/
public/userdata/tmp/*
public/userdata/tmp/*/*
public/userdata/uploaded-files
public/userdata/uploaded-files/
public/userdata/uploaded-files/*
public/userdata/uploaded-files/*/*
build
build/
build/*
build/*/*
