data/tmp
data/tmp/
data/tmp/*
data/tmp/*/*
application/configs/local_settings.ini
data/logs
data/logs/
data/logs/*
data/logs/*/*
public/resources/userdata/tmp
public/resources/userdata/tmp/
public/resources/userdata/tmp/*
public/resources/userdata/tmp/*/*
public/resources/userdata/uploaded-files
public/resources/userdata/uploaded-files/
public/resources/userdata/uploaded-files/*
public/resources/userdata/uploaded-files/*/*
application/controllers/IndexController.php
application/views/templates/*
library/CustomControllerAction.php
application/views/templates/layouts/*
